body
{
    background-color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button
{
    font-family: sans-serif;
}

h1
{
    font-family: 'Courier New', Courier, monospace;
}

h3
{
    text-align: center;
}